:focus,
[tabindex='0']:focus {
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 0 4px rgb(0, 0, 0);
  outline: 0;
}

:focus-visible,
[tabindex='0']:focus-visible {
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 0 4px rgb(0, 0, 0);
  outline: 0;
}

:focus:not(:focus-visible) {
  box-shadow: none;
  outline: 0;
}
