button(class='example--tablist-btn' aria-haspopup='true' aria-expanded='false' aria-controls='tablist')
  span(aria-hidden='true')
  span(aria-hidden='true')
  span(aria-hidden='true')
  span(class='visually-hidden') tablist