.tabs--panel {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: inherit;
  transition-delay: 1s;
  transition-duration: 0s;
  transition-property: visibility;
  visibility: hidden;
}

.tabs--panel::before {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  content: '';
  opacity: 0;
  transition-delay: 1s;
  transition-duration: 0s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.tabs--panel.is-active {
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0s;
  visibility: visible;
}

.tabs--panel.is-active::before {
  z-index: 1;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 1s;
}
