.tabs--tab {
  position: relative;
  display: flex;
  overflow: hidden;
  width: min(60vw, 800px);
  max-height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: transparent;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  transform: scaleX(0.7);
  transform-origin: center;
  transition-duration: 1s, 1s;
  transition-property: transform, width;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94), cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.tabs--tab.is-focus {
  transform: scaleX(1);
}

.tabs--tab.is-focus:focus-visible {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}

.tabs--tab picture {
  pointer-events: none;
}

.tabs--tab img {
  width: 800px;
  background-color: currentColor;
  filter: grayscale(100%);
  object-fit: cover;
  object-position: center;
  transform: scaleX(1.43);
  transition-duration: 0.5s, 1s;
  transition-property: filter, transform;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94), cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.tabs--tab:hover img {
  filter: grayscale(0%);
}

.tabs--tab.is-focus img {
  filter: grayscale(0%);
  transform: scaleX(1);
}

.tabs--tablist.is-hide .tabs--tab.is-focus {
  transform: translateY(calc(-100% - (50vh - 50%) - 2rem));
}

.tabs--tablist.is-hide .tabs--tab.is-focus_prev {
  transform: scaleX(0.7) translateX(-100%);
}

.tabs--tablist.is-hide .tabs--tab.is-focus_next {
  transform: scaleX(0.7) translateX(100%);
}

@media (min-width: 500px) {
  .tabs--tab {
    width: min(44vw, 800px);
    transform: scaleX(0.5);
  }

  .tabs--tab img {
    transform: scaleX(2);
  }

  .tabs--tablist.is-hide .tabs--tab.is-focus_prev {
    transform: scaleX(0.5) translateX(-100%);
  }

  .tabs--tablist.is-hide .tabs--tab.is-focus_next {
    transform: scaleX(0.5) translateX(100%);
  }
}
