@import './tabs--panellist.css';
@import './tabs--panel.css';
@import './tabs--tablist.css';
@import './tabs--tab.css';
@import './tabs--count.css';

.tabs {
  display: flex;
  width: 100%;

  /* min-height: 100vh; */
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  background-color: hsl(0, 0%, 8%);

  /* color: var(--txt-color); */
  overflow-x: hidden;
}
