.card-site--link {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 2.5rem;
  margin-top: 10px;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: left;
  text-decoration-color: var(--color-second);
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.1rem;
  transition: color 0.3s ease-in-out;
}

.card-site--link:hover {
  color: var(--color-second);
}

.card-site--link::before {
  position: absolute;
  top: 0.1rem;
  left: 0;
  width: 1.6rem;
  height: 2rem;
  background: url('Images/logo/link.svg');
  background-position: center;
  background-repeat: no-repeat;
  content: '';
}
