.example--panel {
  position: absolute;
  top: 0;
  left: 0;

  /* background-color: hsla(360, 100%, 100%, 0.8); */
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: var(--shadow-2);
  opacity: 0;
  transition-delay: 0.3s, 0s;
  transition-duration: 0s, 0.3s;
  transition-property: visibility, opacity;
  visibility: hidden;
}

.example--panel.is-active {
  position: relative;
  opacity: 1;
  transition-delay: 0s, 0.3s;
  transition-duration: 0s, 0.6s;
  visibility: visible;
}
