.example--tab {
  max-width: 30rem;
  padding: 0.75rem 2rem;
  border: 1px solid var(--border-color);
  margin-bottom: 1.5rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 7px 0 hsla(0, 0%, 50%, 0);
  color: var(--color-text);
  cursor: pointer;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
  transition-duration: 0.3s, 0.15s;
  transition-property: box-shadow, background-color;
  transition-timing-function: ease-in-out, ease-in;
  user-select: none;
}

.example--tab:hover {
  box-shadow: 0 3px 7px 0 hsla(0, 0%, 50%, 0.2);
}

.example--tab:active {
  background-color: var(--bg-color);
  box-shadow: 0 3px 7px 0 hsla(0, 0%, 50%, 0);
  transition-duration: 0.15s, 0.15s;
}
