.logo {
  position: absolute;
  z-index: 10;
  top: 2rem;
  left: 2rem;
  display: flex;
  height: 6rem;
}

.logo svg {
  width: auto;
  height: 100%;
  fill: none;
  stroke: var(--txt-color, currentColor);
  stroke-width: 1px;
  transition-duration: 1s;
  transition-property: stroke;
  transition-timing-function: ease;
}

/* @media (min-width: 52.5em) {
  .logo {
    left: calc((100% - 800px) / 2);
  }
} */

/* @media (min-width: 1110px) { */
@media (min-width: 1120px) {
  .logo {
    /* left: calc((100% - 800px) / 2);
    transform: translateX(calc(-100% - 10px)); */
    left: calc((100% - 1100px) / 2);
  }
}
