@import './example--tablist.css';
@import './example--panellist.css';
@import './example--panel/example--panel.css';
@import './example--tab/example--tab.css';
@import './example--tablist-btn/example--tablist-btn.css';

.example {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--fixed-space-lg) var(--fixed-space-sm);
}

@media (min-width: 30em) {
  .example {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--fixed-space-lg);
  }
}
