//- - const tabs = [{id: '1', text: '1'}, {id: '2', text: '2'}];
- const tabs = require('Components/example/example.json');
include ./example--tab/example--tab.pug
include ./example--panel/example--panel.pug
div(class='example' id='example-tabs')
  include ./example--tablist-btn/example--tablist-btn.pug
  //- button(class='example--tablist-btn' aria-haspopup='true' aria-expanded='false' aria-controls='tablist')
  div(class='example--tablist' id='tablist' role='tablist' aria-label='list of examples sites')
    each tab in tabs
      +example--tab(tab.id, tab.text)
  div(class='example--panellist')
    each tab in tabs
      +example--panel(tab)