.carousel--tab {
  position: relative;
  width: 80px;
  height: 45px;
  flex-shrink: 0;
  border: none;
  margin: 10px;
  background-color: transparent;
  background-color: yellowgreen;
  cursor: pointer;
}

.carousel--tab[tabindex='0']:focus-visible {
  box-shadow: none;
}

.carousel--tab::before {
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border: 1px solid currentColor;
  background: transparent;
  border-radius: 3px;
  content: '';
  opacity: 0;
  transition-duration: 0.25s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.carousel--tab picture {
  pointer-events: none;
}

.carousel--tab img {
  background-color: currentColor;
  object-fit: cover;
}

.carousel--tab.is-focus::before {
  opacity: 1;
}

.carousel--tab:focus,
.carousel--tab:focus-visible {
  box-shadow: none;
}
