.carousel--slide {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: translateX(100%);
  transition-duration: 1s;
  transition-property: transform;
  transition-timing-function: ease;
}

.carousel--slide img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}

@keyframes from-top {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes from-bottom {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes to-top {
  0% {
    transform: translateX(0%);
  }

  99% {
    opacity: 1;
    transform: translateX(-100%);
  }

  99.8% {
    opacity: 0;
    transform: translateX(-100%);
  }

  99.9% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}

@keyframes to-bottom {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

@media (min-width: 800px), (orientation: landscape) {
  .carousel--slide {
    padding: 0;
    transform: translateY(100%);
  }

  @keyframes from-top {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  @keyframes from-bottom {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  @keyframes to-top {
    0% {
      transform: translateY(0%);
    }

    99% {
      opacity: 1;
      transform: translateY(-100%);
    }

    99.8% {
      opacity: 0;
      transform: translateY(-100%);
    }

    99.9% {
      opacity: 0;
      transform: translateY(100%);
    }

    100% {
      opacity: 1;
      transform: translateY(100%);
    }
  }

  @keyframes to-bottom {
    0% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(100%);
    }
  }
}
