@import './utility/reset.css';
@import './global/color.css';
@import './global/fonts.css';
@import './global/typography.css';
@import './utility/visually-hidden.css';
@import './utility/focus-visible.css';
@import '../components/logo/logo.css';
@import '../components/contacts/contacts.css';
@import '../components/count/count.css';
@import '../components/btn/btn.css';
@import '../components/tabs/tabs.css';
@import '../components/project/project.css';
@import '../components/carousel/carousel.css';

body {
  min-width: 320px;
  background-color: var(--bg-color);
  color: var(--color-text);
  letter-spacing: 0;
  text-align: center;
}
