:root {
  --color-main: hsl(161, 70%, 65%);
  --color-second: hsl(180, 59%, 55%);

  /* text color */
  --color-text: hsl(245, 16%, 55%);
  --color-text-light: #fff;

  /* background color */

  /* --bg-color: hsl(240, 100%, 99%); */
  --gradient-1: linear-gradient(to right, var(--color-main) 0%, var(--color-second) 99%);

  /* shadows */
  --shadow-1: 0 12px 12px -11px hsla(178, 87%, 38%, 0.722);
  --shadow-2: 0 20px 10px -15px hsla(245, 83%, 86%, 0.2);
  --shadow-3: 0 -3px 10px -3px hsla(0, 0%, 50%, 0.2);
  --shadow-4: 0 3px 10px 0 hsla(0, 0%, 50%, 0.2);
  --shadow-5: inset 0 -3px 10px -3px hsla(0, 0%, 50%, 0.2);

  /* border color */
  --border-color: hsl(240, 21%, 94%);
  --txt-color: #ff71cb;
}
